* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.css-1i63sgv-MuiSvgIcon-root {
  color: #000;
}

.css-1i63sgv-MuiSvgIcon-root:hover {
  color: #fff;
  cursor: pointer;
}

.MuiTableCell-body {
  cursor: pointer;
}
